body{
    background-color: #ddd;
    margin-top:4cm;
    font-family: 'Merriweather', serif;
    color:#212021;
  }

input{
    background-color:#E0D3C3;
    color:212021;
    font-family: 'Merriweather', serif;
}
h1{
    color:#212021;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top:10px;
}


.btn {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
}
  
.btn{
  margin: 0 auto;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: 'Merriweather', serif;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-primary {
    color: #fff;
    background-color: #3F0113;
}

.container{
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-left: 2cm;
    font-size: 17px;
    line-height: 1.42857143;
    color: #3F0113;
    background-color: #ddd;
    background-image: none;
    font-family: 'Merriweather', serif;s
}