<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flor</title>
</head>
<body>
    <br><br>
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3> {{msj}} </h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br><br>
    <br><br>
    <h1>Flores Registradas</h1>
    <table>
        <thead>
            <tr>
                <th>Id:</th>
                <th>Flor:</th>
                <th>Cantidad:</th>
                <th>Precio:</th>
            </tr>
        </thead>
        <tbody>
            {% for flores in listFlores %}
                <tr>
                    <td>{{flores[0]}}</td>
                    <td>{{flores[1]}}</td>
                    <td>{{flores[2]}}</td>
                    <td>{{flores[3]}}</td>
                    <td>
                        <a href="/editD/{{flores[0]}}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>