<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frutas</title>
</head>
<body>
    <br><br>
    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3> {{msj}} </h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br><br>
    <br><br>
    <h1>Frutas Registrados</h1>
    <table>
        <thead>
            <tr>
                <th>Id:</th>
                <th>Fruta:</th>
                <th>Temporada:</th>
                <th>Precio:</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for fruta in listFrutas %}
                <tr>
                    <td>{{fruta[0]}}</td>
                    <td>{{fruta[1]}}</td>
                    <td>{{fruta[2]}}</td>
                    <td>{{fruta[3]}}</td>
                    <td>{{fruta[4]}}</td>
                    <td>
                        <a href="/editU/{{fruta[0]}}">Editar</a>
                        <a href="/editD/{{fruta[0]}}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>