body{
    background-color: #ffeaf7;
}
h1{
    color:#201976;
    text-align: center;
}

div{
    margin-top:2cm;
    text-align: center;
    color: mediumvioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic bold;
}

input{
    background-color: rgb(255, 233, 252);
    color:rgb(37, 1, 62);
}
option{
    background-color: rgb(205, 232, 249);
    color:rgb(37, 1, 62);
}
select{
    background-color:rgb(255, 233, 252);
    color:rgb(37, 1, 62);
}